{
    "type": "interaction",
    "messages": [
        {
            "synthesis": "Welcome to NuBank!",
            "language": "",
            "bargein": true,
            "id": "welcome.initial",
            "audio": "http://localhost:5555/audios/welcome/initial.wav"
        }
    ]
}
