{
    "type": "interaction",
    "messages": [
        {
            "synthesis": "No Input 2!",
            "language": "",
            "bargein": false,
            "id": "welcome.no_input",
            "audio": "http://localhost:5555/audios/welcome/no_input_2.wav"
        }
    ]
}
